body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */
.main-content-section {
    padding: 100px 90px;
}

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

/* About me section */
.about-me-section {
    margin: 0 0 40px 0;
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 20px 0;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 25px 0;
}

.about-medescription {
    width: 545px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-indent: 1.5em;
}

.about-medescription a {
    color: #FB6D3A;
}

/* My projects section */
.my-projects-section {
    margin: 0 0 50px 0;
}

.my-project-list {
    padding: 0 0 0 17px;
}

.my-project-item {
    font-weight: bold;
    color: #000;
}

.my-project-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-project-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}

.my-project-braket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

/* My work experiens section */
.my-work-experiens-section {
    margin: 0 0 45px 0;
}

.my-work-experiens-company {
    color: #FB6D3A;
}

.my-work-experiens-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin: 0 0 10px 0;
}

.my-work-experiens-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}

.my-work-experiens-divider {
    color: #000;
    margin: 0 5px 0 5px;
}

.my-work-experiens-duties {
    padding: 0 0 0 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-work-experiens-company-block {
    margin: 0 0 15px 0;
}

/* My education section */
.my-education-university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}

.my-education-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 10px 0;
}

.my-education-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

/* Sidebar section */
.sidebar-section {
    background-color: #1E2939;
    padding: 40px 0px;
    width: 370px;
}

.sidebar-section img {
    width: 100%;
}

.contacts-section,
.tech-skill-section,
.soft-skill-section {
    margin: 50px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

.sidebar-section li::marker {
    color: #FB6D3A;
}

/* Contacts section */
.contacts-section-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.contacts-section-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
}

/* Tech skills section */
.tech-skill-section ul {
    padding: 0 0 0 20px;
}

.tech-skill-section li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}

/* Soft skill section  */
.soft-skill-section ul {
    padding: 0 0 0 20px;
}

.soft-skill-section li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}